body {
    background-color: rgb(32, 32, 32);
    margin: 0;
}

.head {
    background-color: rgb(53, 0, 131);
    height: 65px;
    -webkit-box-shadow: 0px 9px 54px -3px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 9px 54px -3px rgba(0,0,0,0.81);
    box-shadow: 0px 9px 54px -3px rgba(0,0,0,0.81);
}

iframe {
    box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.33);
    border-radius: 20px;
    border: 1px solid rgb(53, 0, 131);;
}

.gg {
    text-align: center;
    margin-top: 200px;
}